.signup-form-container{
  min-height: 90vh;
}
input#formConfirmPassword ,input#formFirstName,input#formLastName,input#formUsername {width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #E4DCCF;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #E4DCCF;
  outline: none;
  background: transparent;
  
}
.shadow.card {
  margin: 100px;
}
.shadow{
  box-sizing: border-box;
  box-shadow: -1px 1px 20px 0px rgba(0,0,0,.6);
  border-radius: 6px;
  background-color: transparent;
}