.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .question-card {
    width: 50rem;
    height: 10rem;
    margin-left: 10rem;
  }
  
  .question-text {
    font-weight: bold;
    text-align: center;
  }
  
  .score-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    text-align: center;
    font-weight: bold;
  }