@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin :0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
  }

  .about-section{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FFF

  }
  .c-s {
    border-radius: 35px;
    margin: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    height: 332px;
}
h1 ,h2{
  font-style: normal;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  margin: 0 0 0 auto;
  padding: 30px;
}

.team {
  margin: 0 auto;
  width: 60%;
}

.swiper-slide.swiper-slide-visible.swiper-slide-active {
  display: flex;
  justify-content: space-around;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 230px;
}

.about h1 {
  flex: 1;
  margin-right: 20px;
}

p.paragraph {
  font-size: larger;
} 


.about {
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient( #2C74B3 , #fff);
}