@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
* { box-sizing:border-box; }
body {
  margin:0px;
  font-family:Roboto;
  background-color:#f2f2f2;
  min-width:300px;
  color:#808080;
}
.holder {
  width:100%;
  max-width:1000px;
  margin:0 auto;
  padding:10px;
}
.item {
  width:100%;
  border:1px solid #e0e0e0;
  box-sizing:border-box;
  position:relative;
  background-color:#ffffff;
}
/* .imageHolder {
  position:relative;
  width:100%;
  height:300px;
  overflow:hidden; background:url("http://www.brightonstarling.com/wp-content/uploads/2012/10/20111111175456.jpg") no-repeat center center;
  background-size:cover;
} */
.details {
  min-height:150px;
  position:relative;
}
/* .place:before {
  content:"Place";
  position:absolute;
  top:10px;
  left:0px;
  padding-left:20px;
  padding-right:20px;
  padding-top:4px;
  height:30px;
  max-height:26px;
  font-size:16px;
  background-color:var(--blue-90);;
  color:#ffffff;
  z-index:10;
}
.place:after {
  content:"";
  position:absolute;
  top:10px;
  left:-30px;
  height:30px;
  width:30px;
  background:url("http://www.clker.com/cliparts/p/R/D/Q/Q/L/map-pin-white-md.png") no-repeat center center;
  background-size:13px;
  background-color:var(--blue-90);;
} */
.type {
  width:150px;
  height:150px;
  background-color:var(--blue-90);;
  position:absolute;
  top:0px;
  left:0px;
}
.place .type {
  background:url("http://www.clker.com/cliparts/p/R/D/Q/Q/L/map-pin-white-md.png") no-repeat center center;
  background-size:30px;
  background-color:var(--blue-90);;
}
.meta {
  padding:0.1px 160px 10px 160px;
}
.extra {
  position:absolute;
  right:0px;
  top:0px;
  width:150px;
  text-align:center;
}
.title {
  color:#404040;
  font-family: 'Poppins', sans-serif;
  font-size:16px;
}
.info {
  font-size:14px;
}
/* .rating {
  color:#404040;
  font-size:20px;
}
.ratingBar {
  width:100%;
  height:2px;
  background-color:red;
} */
.green {
  width:76%;
  height:2px;
  background-color:green;
}
@media screen and (max-width:1090px) {
  .place:before {
  top:10px;
  left:30px;
  }
  .place:after {
    top:10px;
    left:0px;
  }
}
@media screen and (max-width:800px) {
  .type {
    width:100px;
    height:100px;
  }
  .extra {
    width:100px;
  }
  .meta {
    padding:0.1px 110px 10px 110px;
  }
}
@media screen and (max-width:480px) {
  .type {
    display:none;
  }
  .extra {
    display:none;
  }
  .meta {
    padding:0.1px 10px 10px 10px;
  }
}