:root {
  --red: #250303;
  --page: #f2eee0;
  --neon: #c8e6f5;
  --bigBlue: #2c7bfe;
  --smallBlue: #5ca0d3;
  --backGroung: #c9c6c5;

  --blue-90:#0A2647;
  --blue-70:#144272;
  --blue-50:#205295;
  --blue-30:#2C74B3;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
